.table td {
  vertical-align: middle;
}

.action-column {
  width: 60px;
  text-align: center;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cities-list-limit-selector {
  width: 75px;
}

.cities-list-pagination {
  margin: 0;
}
